@font-face {
  font-family: 'Keyrune';
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot');
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot?#iefix') format('embedded-opentype'),
    url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff') format('woff'),
    url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.ttf') format('truetype'),
    url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Numbers';
  src: url('./assets/fonts/Numbers-Regular.woff2') format('woff2'),
    url('./assets/fonts/Numbers-Regular.woff2') format('woff'),
    url('./assets/fonts/Numbers-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* ss class for keyrune font */
.ss {
  display: inline-block;
  font: normal normal normal 14px/1 Keyrune;
  font-size: inherit;
  line-height: 1em;
  text-rendering: auto;
  transform: translate(0, 0);
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ss:before {
  content: "\e684";
}

/**
 * Handling for set symbols that use an inner and outer layer, like M21
 *
 * The inner layer is what gets colorized and is the traditional "set symbol"
 * The outer layer takes over as the border, and is white for common cards
 * but black for uncommon, rare, and mythic.
 */
.ss-duo {
  color: #fff;
}
.ss-duo::after {
  color: #000;
  content: '';
  display: block;
  font-size: 1em;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ss-duo.ss-afr::after {
  content: "\e973";
}
.ss-duo.ss-xdnd::after {
  content: "\e973";
}
.ss-duo.ss-xin4::after {
  content: "\e979";
}
.ss-duo.ss-common {
  color: #fff;
}
.ss-duo.ss-uncommon::after,
.ss-duo.ss-rare::after,
.ss-duo.ss-mythic::after {
  color: #000;
}

/**
 * Rarity colors */
.ss-common {
  color: #1A1718;
}
.ss-common.ss-grad {
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #302b2c), color-stop(50%, #474040), color-stop(100%, #302b2c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #302b2c 1%, #474040 50%, #302b2c 100%);
  background-clip: text;
  -webkit-text-stroke: 0.03em #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss-common.ss-grad.ss-no-border {
  -webkit-text-stroke: 0;
}
.ss-uncommon {
  color: #707883;
}
.ss-uncommon.ss-grad {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5a6572), color-stop(50%, #9e9e9e), color-stop(100%, #5a6572));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #5a6572 0%, #9e9e9e 50%, #5a6572 100%);
  background-clip: text;
  -webkit-text-stroke: 0.03em #111;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss-uncommon.ss-grad.ss-no-border {
  -webkit-text-stroke: 0;
}
.ss-rare {
  color: #A58E4A;
}
.ss-rare.ss-grad {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #876a3b), color-stop(50%, #dfbd6b), color-stop(100%, #876a3b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #876a3b 0%, #dfbd6b 50%, #876a3b 100%);
  background-clip: text;
  -webkit-text-stroke: 0.03em #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss-rare.ss-grad.ss-no-border {
  -webkit-text-stroke: 0;
}
.ss-mythic {
  color: #BF4427;
}
.ss-mythic.ss-grad {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b21f0f), color-stop(50%, #f38300), color-stop(100%, #b21f0f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #b21f0f 0%, #f38300 50%, #b21f0f 100%);
  background-clip: text;
  -webkit-text-stroke: 0.03em #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss-mythic.ss-grad.ss-no-border {
  -webkit-text-stroke: 0;
}
.ss-timeshifted {
  color: #652978;
}
.ss-timeshifted.ss-grad {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #652978), color-stop(50%, #c09ac5), color-stop(100%, #652978));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #652978 0%, #c09ac5 50%, #652978 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #652978 0%, #c09ac5 50%, #652978 100%);
  background-clip: text;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-text-stroke: 0.03em #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss-timeshifted.ss-grad.ss-no-border {
  -webkit-text-stroke: 0;
}
.ss-foil {
  color: #a6dced;
}
.ss-foil.ss-grad {
  background: -webkit-linear-gradient(-45deg, #ea8d66 0%, #ea8d66 10%, #fdef8a 17%, #8bcc93 33%, #a6dced 50%, #6f75aa 67%, #e599c2 83%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ea8d66 0%, #ea8d66 15%, #fdef8a 28%, #8bcc93 42%, #a6dced 55%, #6f75aa 68%, #e599c2 84%, #e599c2 100%);
  background-clip: text;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-text-stroke: 0.03em #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss-foil.ss-grad.ss-no-border {
  -webkit-text-stroke: 0;
}
/**
 * Fixed width */
.ss-fw {
  width: 1.28571429em;
  text-align: center;
}

/*  Guild Kits */
.ss-azorius:before {
  content: "\e94e";
}
.ss-boros:before {
  content: "\e94f";
}
.ss-dimir:before {
  content: "\e950";
}
.ss-golgari:before {
  content: "\e951";
}
.ss-gruul:before {
  content: "\e952";
}
.ss-izzet:before {
  content: "\e953";
}
.ss-orzhov:before {
  content: "\e954";
}
.ss-rakdos:before {
  content: "\e955";
}
.ss-selesnya:before {
  content: "\e956";
}
.ss-simic:before {
  content: "\e957";
}

.ss-border:after {
  content: "";
  position: absolute;
  left: -0.05em;
  top: 0em;
  color: #fff;
  font-size: 1.15em;
  z-index: -1;
  background: #fff;
  background-clip: text;
  -webkit-text-stroke: 0.05em #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ss-afr:before {
  content: "\e972";
}
